*{
  padding : 0;
  margin : 0;
  font-family: cursive;
}

body{
  padding-top:15px;
  margin-top: 15px;
  background-color: #c6b815
  color: #000000;
  line-height: 1.6;
  padding: 1rem;
}

body a{
  text-decoration: none;
}


header nav a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}
header nav a:hover{
  text-decoration: underline;
  color: #9227c4
  transition: all 0.4s ease;
}

header nav{
  color: #ffffff;
  display: flex;
  align-items: center;
  box-sizing:80%;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #000000;
  box-shadow: 0 20px 14px rgb(88, 85, 85, 0.1);
  border-radius: 10px;
}

header nav a:hover::after {
  width: 100%;
}

header nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.9s ease;
}

header .nav a.active{
  color:#f42f2f;
}

header img{
  width: 55px; 
  height: 60px;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 30%;
  box-sizing: border-box;
  box-shadow: 0 20px 14px rgb(88, 85, 85, 0.1);
  /* background-color: #b5baba; */
}

.home {
  background-image: url("pictures/section.jpg");;
  background-size: cover;           /* scales image to fill container */
  background-position: center;      /* centers the image */
  background-repeat: no-repeat;     /* prevents tiling */
  height: 100vh;                    /* full viewport height */
  width: 100%;  
  z-index: -12;
  padding: 100px 20px;
  color: #c9b6b6; /* optional for contrast */
  text-align: center;
}


footer{
  text-align: center;
}